* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #000000;
}

.container {
    /* background-color: red; */
    width: 460px;
    /* 오류 :  전체크기 조정에 오류발생 */
    margin: 0 auto; 
}

header {
    /* 화면 가운데 정렬 */
    text-align: center;
    padding : 100px 0 50px;
}

.gubun_desc {
    /* font-size: 15px; */
    font-weight: 900;
}

.gubun {
    margin-bottom : 5px;
}

/* 주의 ) input_area의 너비를 건드려봤자 텍스트창에 영향을 주지않는다 */

.input_area input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    margin-bottom: 5px;
    border : 2px solid #007700;
    outline : none;
}

.input_area input:focus {
    border: 2px solid #ff8800;
}

.btn_signin {
    width: 100%;
    height: 60px;
    margin: 15px 0;
    background-color: #007700;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    line-height: 60px;
    border: 0;
    font-size: 20px;
}

.btn_signin:hover {
    cursor: pointer;
}

footer {
    margin-top : 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center
    
}

.join, .find {
    width: 49%;
}

.title {
    font-size: 12px;
    font-weight: bold;
}

.desc {
    font-size: 10px;
    color: #777777;
    
}

.btn_footer {
    display : block;
    width: 200px;
    /* 전체가 400px */
    height: 50px;
    line-height: 50px;
    background-color: #007777;
    color: #ffffff;
    margin : 10px auto;

}
